<section id="people-view" class="people" data-ng-controller="listPeople as vm">
    <section class="people">
        <div>
            <div>
                <h1>People</h1>
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Palindrome</th>
                            <th>Authorised</th>
                            <th>Enabled</th>
                            <th>Colours</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="x in vm.people">
                        <td ng-click="vm.editPerson(x.PersonId)" class="clickable">{{x.FirstName}} {{x.LastName}}</td>
                        <td><span ng-class="{true:'yes', false:'no'}[x.IsPalindrome]">{{x.IsPalindrome | yesNo}}</span></td>
                        <td><span ng-class="{true:'yes', false:'no'}[x.IsAuthorised]">{{x.IsAuthorised | yesNo}}</span></td>
                        <td><span ng-class="{true:'yes', false:'no'}[x.IsEnabled]">{{x.IsEnabled | yesNo}}</span></td>
                        <td>{{x.Colours}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </section>
</section>